<div id="coca" class="container-fluid">

    <div class="card-fluid  rounded p-5 m-4">
     
     <div id="cardS" class="card text-center">
        <div class="card-header">
          <h1>Case Maquina de Doce</h1>
        </div>
        
     <h2>Proposta:</h2>
     <h2>Fazer uma maquina de doces que ativa a compra com base no dinheiro depositado assim como no AFD definido.</h2>
        </div>
        <div class="card-footer text-muted">
          
        </div>
     </div>
     
     <div class="card-fluid  rounded p-2">
     
      <div id="cardS" class="card text-center">
         <div class="card-header">
           <h1>Case Elevador</h1>
         </div>
         
      <h2>Proposta:</h2>
      <h2>Fazer um Elevador que vai do térreo até o 3º andar assim como no AFD definido.</h2>
         </div>
         <div class="card-footer text-muted">
           
      </div>
     
     
    
</div>