<!doctype html>
<html lang="en">




<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <title>Maquina de Doces</title>
</head>


<div id="tentandotela" class="jumbotron jumbotron-fluid ">
  <div class="container">
    <h1 class="display-4 ">Case 1 maquina de doce</h1>



  </div>
</div>

<div id="containerpai" class="container border border-2 border-dark ">
  <div id="titulhu2"class="row border border-dark border-3 bg-danger">
    <div class="col-md-4   ">

      <img id="lobo1" src="../../../../assets/giphy.gif"  alt="gifin">

    </div>
    <div id="titulhu" class="col-md-4 bg-danger border border-dark border-3     ">
      <h4 id="textfont"class="text-center">Canis
        Candy</h4>
    </div>
    <div class="col-md-4   ">
      <img id="lobo" src="../../../../assets/giphy2.gif" transform=rotateY(180deg); alt="gifin">
    </div>

  </div>

    <div id="corpo2" class="container border border-3 border-dark col-md-10 ">
      <div id="linha1" class="row ">

        <div class="col-md-4">
          <!--Imagem do Mm-->
          <img id="imagem1" src="../../../../assets/canela.png" class="rounded mx-auto d-block" alt="emiemi">
          <p class="text-center">R$6,00</p>
          <!--Seleciona o produto escolhido-->
          <button id="botao" type="button" class="btn btn-secondary btn-sm" disabled>Selecionar Produto</button>
        </div>

        <div class="col-md-4 ">
          <img id="imagem2" src="../../../../assets/ememe.png" class="rounded mx-auto d-block" alt="emiemi">
          <p class="text-center">R$7,00</p>
          <!--Seleciona o produto escolhido-->
          <button id="botao" type="button" class="btn btn-secondary btn-sm" disabled>Selecionar Produto</button>

        </div>

        <div class="col-md-4">
          <img id="imagem3" src="../../../../assets/cachoco.png" class="img-fluid mx-auto d-block" alt="emiemi">
          <p class="text-center">R$8,00</p>
          <!--Seleciona o produto escolhido-->
          <button id="botao" type="button" class="btn btn-secondary btn-sm" disabled>Selecionar Produto</button>

        </div>

        <div id="linhaNotas" class="row  border border-3 border-dark ">

          <div id="cedulas" class="col-md-4 border border-3 border-dark rounded ">
            <img id="dinheiro1" src="../../../../assets/nota-2.png" class="rounded  " alt="2reais">
            <p></p>
            <img id="dinheiro2" src="../../../../assets/nota-5.png" class="rounded" alt="2reais">
            <p></p>
            <img id="moeda" src="../../../../assets/um-real.png" class="rounded mx-auto d-block" alt="2reais">


          </div>
          <div  id="cedulas2" class="col-md-4 border border-2 border-dark rounded ">

            <div class="col-md-12">
              <a id="numeroTexto"  class="form-control" placeholder="0,00">
              </a>
            </div>

          </div>

          <div id="cedulas3" class="col-md-4 border border-2 border-dark rounded ">

              <p id="letra"class="fs-6">M&M</p>
              <p id="letra"class="fs-6 ">Chocola</p>
              <p id="letra"class="fs-6">Chiclete</p>




          </div>

        </div>

        <div class="row bg-dark">
          <div class="col bg-dark">

          </div>

        </div>
        <img id="SAIDA"src="../../../../assets/portapemt.png" class="rounded " alt="2reais">

      </div>
    </div>




</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</html>
