<div id="coca" class="container-fluid rounded">
    
    
        <div class="row ">
            <div class="col-3 bg-rounded"></div>
            <div class="col-7 ">
                
                <div id="cardG" class="card text-center">
                    <div class="card-header">
                      Grupo:
                    </div>
                    <h4>Ramon Barbosa Bouzon - RA:820122060</h4>
                    <h4>André Soares Tedeschi - RA:820115032</h4>
                    <h4>Fernando Donizete Naves Filho  - RA:820147207</h4>
                    <h4>Patrick da Silva Lara - RA:820121206</h4>
                    <h4>Renan Pires de Souza - RA:821137415</h4>
                    <h4>Mateus Sousa Paixão - RA:82018277</h4>
                    <h4>Felipe Murauskas Pascoinelli - RA:8211484141</h4>
                    </div>
                    <div class="card-footer text-muted">
                      
                    </div>
                  
                

            </div>
            <div class="col rounded"></div>
            
        </div>

    

</div>

